name: Trigger auto deployment for sklibrary

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/sklibrary-AutoDeployTrigger-084df0cc-1605-4bd3-b55a-f8e8d4de040b.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.SKLIBRARY_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.SKLIBRARY_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.SKLIBRARY_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: docker.io
          registryUsername: ${{ secrets.SKLIBRARY_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.SKLIBRARY_REGISTRY_PASSWORD }}
          containerAppName: sklibrary
          resourceGroup: try1
          imageToBuild: reeman123/sklibrary:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


